
/*global styles*/
/************************************************************************/

body {
	margin: 0;
}

p{
	margin: 0;
	padding: 5px;
}

header {
	height: 90px;
	background-color: #4ba6dd;
	padding: 5px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	opacity: 0.9;
	-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -2px 4px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         -2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 675px){
	#headline {
		font-family: "Georgia", "Times New Roman", serif;
		font-size: 27px;
		width: 400px;
	}
	#tagline {
		font-size: 18px;
		width: 388px;
	}
}

.headline{
	width: 675px;
	margin: 0 auto;
}

.tagline{
	font-family: 'Playball', cursive;
	margin: 0 0 0 25px;
	width: 608px;
	margin: 0 auto;
}

.container {
	padding-top: 90px;
}

#text-block{
	z-index: 2;
	padding-right: 10px;
}

.text-bckgrnd {
	background-color: #eff3f6;
	font-family: "Georgia", "Times New Roman", serif;
	text-indent: 30px;
	font-size: 1.4em;
	border-radius: 1.2em;
}


/*about page */
/*********************************************************************************/

/*about page image slider*/
#slide-box{
	width: 2060px;
	margin: 0;
}

#slider {
	overflow: hidden;
}

div#slider figure {
    position: relative;
    -webkit-animation: 40s slidy infinite;
    -moz-animation: 40s slidy infinite;
    animation: 40s slidy infinite;
}

@-webkit-keyframes slidy { /*Safari & Chrome */
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	80% { left: -300%; }
	100% { left: -300%; }
	0% { left: 0%; }
}

@keyframes slidy {
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	80% { left: -300%; }
	100% { left: -300%; }
	0% { left: 0%; }
}
@media (min-width: 768px) and (max-width: 1199px) {
	@-webkit-keyframes slidy { /*Safari & Chrome */
	20% { left: 0%; }
	25% { left: -110%; }
	45% { left: -110%; }
	50% { left: -210%; }
	70% { left: -210%; }
	80% { left: -320%; }
	100% { left: -320%; }
	0% { left: 0%; }
	}

	@keyframes slidy {
	20% { left: 0%; }
	25% { left: -110%; }
	45% { left: -110%; }
	50% { left: -210%; }
	70% { left: -210%; }
	80% { left: -320%; }
	100% { left: -320%; }
	0% { left: 0%; }
	}

	.container{
		width: 100%;
	}
}
@media (min-width: 1199px){
	#about #slide-box img{
		margin-top: 6px;
		width: 383px;
	}
	#about #slider {
		width: 383px;
	}
}
@media (min-width: 1090px) and (max-width: 1198px){
	#slide-box img{
		width: 399px;
	}
	#about #slider {
		width: 399px;
	}
	#text-block{
		padding-right: 120px;
	}
}
@media (min-width: 882px) and(max-width: 1089px){
	#slide-box img{
		width: 399px;
	}
	#about #slider {
		width: 399px;
	}
	#text-block{
		padding-right: 0;
	}
}


/*my work page*/
/**********************************************************************************/

.work-box{
	max-height: 775px;
}
.work-box h3{
	margin: 0;
}

#my-work{
	margin-top: 20px;
}
#my-work img{
	max-height: 310px;
}
#my-work #slide-box{
	width: 3625px;
}


/*resume page*/
/****************************************************************************************/

#resume {
	margin: 20px auto 0;
	width: 725px;
	display: block;
}
/* rules slideout */
#resume-share {
  position: fixed;
  width:170px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.resume-button{
	background-color:#e1f3fc;
	color: black;
	border-radius: 0.9em;
	font-size: 1.3em;
	font-style: bolder;
	font-weight: bold;
	text-align: center;
	height: 33px;
	width: 135px;
	margin:10px;
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.resume-button p{
	display: inline-block;

}
.social-icon{
	margin: 2px 0 0 10px;
	width: 28px;
	display: inline-block;
}

#slideout_inner {
	background-color: #4ba6dd;
	width: 170px;
	height: 199px;
  position: fixed;
  top: 258px;
  left: -170px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

h4#tab:hover #slideout_inner, h4#tab {
  left:170px;
}

#resume-share:hover #slideout_inner, h4#tab {
  left: 0;
}

h4#tab{
	border-radius: 0.7em 0.7em 0 0;
	position: absolute;
	top: 42px;
	left: 96px;
	width: 189px;
	height: 23px;
	padding: 14px 5px;
	font-size: 1.7em;
	font-weight: bold;
	background-color: #4ba6dd;
	letter-spacing: 1px;
	-webkit-box-shadow: 4px -3px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    4px -3px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         4px -3px 4px 0px rgba(0, 0, 0, 0.75);

	-webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);

	  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	  -webkit-transform-origin: 50% 50%;
	  -moz-transform-origin: 50% 50%;
	  -ms-transform-origin: 50% 50%;
	  -o-transform-origin: 50% 50%;
	  transform-origin: 50% 50%;

	  /* Should be unset in IE9+ I think. */
	  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@media (min-width: 1120px){
	resume-buttons{

	}
}


/*site navigation*/
/*************************************************************************************/
@media (max-width: 900px) {
	.nav-btn{
	padding: 0 28px;
	margin: 20px 0;
	}
}

@media (max-width: 800px) {
	.nav-btn{
	padding: 0 18px;
	margin: 20px 0;
	}
}

@media (min-width: 768px){
	body, html {
	overflow-x: hidden;
	overflow-y: auto;
	}
}

@media (max-width: 767px) {
	.nav-bar{
		display: none;
	}
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.nav-bar{
	margin: 0 auto;
	width: 560px;
	/*margin-left: 1420px;*/
}

.nav-bar figure{
	margin: 0 20px;
}

.nav-btn{
	float: left;
	margin: 0;
}

/*nav button roll in animation*/
.nav-btn-roll {
	-webkit-transition: 3s;
	 -moz-transition: 3s;
	 -ms-transition: 3s;
	 -o-transition: 3s;
	 transition: 3s;
	 margin-left: 0% !important;
}

.ball{
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: relative;
	background: -webkit-radial-gradient(50% 120%, circle cover, #323232, #0a0a0a 80%, #000000 100%)
}

.ball:before{
	content: "";
	top: 1%;
	left: 5%;
	bottom: 2.5%;
	opacity: 0.6;
	width: 90%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	background: -webkit-radial-gradient(50% 120%, circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
	-webkit-filter: blur(5px);
	z-index: 2;
}

.circle{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: 0;
	color: white;
	background: -webkit-radial-gradient(35px 35px, circle, #5cabff, #000);
	background: -moz-radial-gradient(35px 35px, circle, #5cabff, #000);
	background: radial-gradient(35px 35px, circle, #5cabff, #000);
}

.ball .ball-text{
  content: "My Work";
  display: block;
  position: absolute;
  text-align: center;
  height: 46px;
  width: 84px;
  left: 9%;
  margin: 0;
  top: 25%;
  color: white;
  font-family: Arial;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
}

.ledge-face{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	margin: 5px 0 0 0;
	-webkit-box-shadow: inset -3px 20px 40px -15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    inset -3px 20px 40px -15px rgba(0, 0, 0, 0.75);
	box-shadow:         inset -3px 20px 40px -15px rgba(0, 0, 0, 0.75);
}


/*contact form*/
/**************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
	text-align:center;
}

#form-main {
	max-width: 800px;
	margin: 115px auto 25px;
	background-color: #4ba6dd;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom: 20px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 16px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

#form-div label{
	font-size: 18px;
}

#form-div img{
	width: 15px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3c3c3c;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}

.submit:hover {
	color: #3498db;
}

#form-div .submit{
	margin-top: 10px;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-main{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

